
/* Pantalla completa */

body{
    /* background: linear-gradient(to right, transparent, rgb(31, 7, 5)), url("/imagenes/ellen/fondo.png"); */
    background-size: cover;
    background-color: #101a1f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#page{
    position: absolute;
}

#copy{
    position: fixed;
    bottom: 10px;
    left: 45%;
    color: beige;
}

#slider{
    width: 900px;
    height: 350px;
    background-color: rgb(214, 57, 96);
    border-radius: 18px;
    position: relative;
    top: 100px;
    left: 28%;
    overflow:hidden;
    
}

/* #slider backgraund{
    filter: blur(4px);
} */

.mySlides{
    position: absolute;
    left: 50%;
    z-index: 3;
}

#fondo{
    position: absolute;
    left: 26%;
    scale: 2;
    top: 300px;
    filter: opacity(15%);
    z-index: 0;
}

#name{
    position: absolute;
    left: 130px;
    top: 55px;
    color: #ffffff;
    font-size: 44px;
}

#line{
    background-color: #99123a;
    width:300px ;
    height: 2px;
    position: absolute;
    top: 140px;
    left: 135px;
}

#dialogo{
    color: #ffd1d1;
    position: absolute;
    top: 140px;
    left: 135px;
    width: 400px;
}

.flechas{
    border-radius: 50px;
    background-color: #202020;
    color: #a3a3a3;
    border-color: #4d3c3d;
    width: 40px;
    height: 40px;

}

button{
    border-radius: 8px;
    background-color: #f05072;
    border: none;
    color: #ffffff;
    border-color: #4d3c3d;
    width: 60px;
    height: 20px;
    z-index: 5;

}

#rh{
    position: absolute;
    bottom: 28px;
    left: 100px;
    
}
#lf{
    position: absolute;
    bottom: 28px;
    left: 50px;
}
button.holder{
    background-color: #e04876;
}

#recuadro{
    /* background-color: #e04876; */
    background: linear-gradient(to bottom, transparent, rgb(73, 21, 34)), url("/Cristian_viana_camacho/imagenes/ellen/ellen.02.jpg");
    background-size: 200px 250px;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 0%;
    top: 55px;
}


#recuadro2{
    /* background-color: #e04876; */
    background: linear-gradient(to bottom, transparent, rgb(73, 21, 34)), url("/Cristian_viana_camacho/imagenes/ellen/ellen.01.jpg");
    background-size: 200px 250px;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 45%;
    top: 55px;
    
}

#arte{
    width: 600px;
    height: 300px;
    position: relative;
    left: 28%;
    top: 130px;
    color: #e7ecee;
}

#line2{
    background-color: #99123a;
    width:100px ;
    height: 2px;
    position: absolute;
    top: 40px;
    left: 0px;
}

#arte-info{
    position: absolute;
    top: 330px;
    left: 85px;
    scale: 1.5;
    width: 300px;
    background-color: rgb(35, 37, 44);
    color: #ffd1d1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#encabezado{
    width: 100%;
    height: 10px;
}

#sesion{
    position: absolute;
    top: 20px;
    scale: 1.5;
    right: 100px;
}
.conte {
    position: absolute;
    top: 20px;
    left: 45%;

}

.conte a {
    padding: 4px 20px;
    left: 40%;
    color: #e04876;
    text-decoration: none;
}

#login{
    background-color: transparent;
    
    
}

#info{

    width: 300px;
    height: 300px;
    position: relative;
    left: 60%;
    bottom: 110px;
}

#element{
    position: absolute;
    background-color: rgb(35, 37, 44) ;
    width: 300px;
    height: 90px;
    border-radius: 18px;

}
#element img{
    position: absolute;
    top: 15px;
    left: 20px;
}
#element h3{
    color: #e7ecee;
    position: absolute;
    left: 90px;
}

#element h4{
    color: #9fa1a1;
    position: absolute;
    left: 90px;
    top: 20px;
}

#tipo{
    position: absolute;
    background-color: rgb(35, 37, 44) ;
    width: 300px;
    height: 90px;
    top: 100px;
    border-radius: 18px;

}
#tipo img{
    position: absolute;
    top: 15px;
    left: 20px;
}

#tipo h3{
    color: #e7ecee;
    position: absolute;
    left: 90px;
}

#tipo h4{
    color: #9fa1a1;
    position: absolute;
    left: 90px;
    top: 20px;
}

#grado{
    position: absolute;
    background-color: rgb(35, 37, 44) ;
    width: 300px;
    height: 90px;
    top: 200px;
    border-radius: 18px;

}
#grado img{
    scale: 1.3;
    position: absolute;
    top: 27px;
    left: 30px;
}

#grado h3{
    color: #e7ecee;
    position: absolute;
    left: 90px;
}

#grado h4{
    color: #9fa1a1;
    position: absolute;
    left: 90px;
    top: 20px;
}

/* barra lateral universe UI */
.burger {
    position: relative;
    width: 40px;
    height: 27px;
    background: transparent;
    cursor: pointer;
    display: block;
    left: 10px;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #f05072;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

/* Pantalla mediana */

@media
    (min-width: 1099px) and
    (max-width: 1326px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 70%;
            bottom: 110px;
        }

        #slider{
            width: 900px;
            height: 350px;
            background-color: rgb(214, 57, 96);
            border-radius: 18px;
            position: relative;
            top: 100px;
            left: 17%;
            overflow:hidden;
            
        }
        #arte{
            width: 600px;
            height: 300px;
            position: relative;
            left: 17%;
            top: 130px;
            color: #e7ecee;
        }
        #copy{
            position: fixed;
            bottom: 10px;
            left: 40%;
            color: beige;
        }
        

}

@media
    (min-width: 1327px) and
    (max-width: 1470px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 70%;
            bottom: 110px;
        }

}

@media
    (min-width: 1471px) and
    (max-width: 1776px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 65%;
            bottom: 110px;
        }

}
@media
    (min-width: 1777px) and
    (max-width: 1600px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 67%;
            bottom: 110px;
        }

}

/* medio peque単a medio mediana */
@media
    (min-width: 1px) and
    (max-width: 1100px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 60%;
            bottom: 110px;
        }
        #slider{
            width: 900px;
            height: 350px;
            background-color: rgb(214, 57, 96);
            border-radius: 18px;
            position: relative;
            top: 100px;
            left: 5%;
            overflow:hidden;
            
        }
        #arte{
            width: 600px;
            height: 300px;
            position: relative;
            left: 5%;
            top: 130px;
            color: #e7ecee;
        }
        #copy{
            position: fixed;
            bottom: 10px;
            left: 35%;
            color: beige;
        }

}

/* pantalla mediana muy peque単a */
@media
    (min-width: 817px) and
    (max-width: 973px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 60%;
            bottom: 110px;
        }
        #info h3{
            top: 19px;
        }
        #info h4{
            Display: none;
        }
        #tipo{
            width: 193px;
        }
        #grado{
            width: 193px;
        }
        #element{
            width: 193px;
        }
        #slider{
            width: 700px;
            height: 350px;
            background-color: rgb(214, 57, 96);
            border-radius: 18px;
            position: relative;
            top: 100px;
            left: 5%;
            overflow:hidden;
            
        }
        #arte{
            width: 500px;
            height: 300px;
            position: relative;
            left: 5%;
            top: 130px;
            color: #e7ecee;
        }
        #arte-info{
            width: 200px;
        }
        .conte{
            position: absolute;
            left: 300px;
        }

}

/* extra peque単a */

@media
    (min-width: 1px) and
    (max-width: 816px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 74%;
            bottom: 110px;
        }
        #info h3{
            Display: none;
        }
        #info h4{
            Display: none;
        }
        #tipo{
            width: 100px;
        }
        #grado{
            width: 100px;
        }
        #element{
            width: 100px;
        }

        #slider{
            width: 578px;
            height: 350px;
            background-color: rgb(214, 57, 96);
            border-radius: 18px;
            position: relative;
            top: 100px;
            left: 5%;
            overflow:hidden;
            
        }

        .mySlides{
            position: absolute;
            left: 30%;
            z-index: 3;
        }
        
        #fondo{
            position: absolute;
            left: 0%;
            scale: 2;
            top: 300px;
            filter: opacity(15%);
            z-index: 0;
        }
        
        #name{
            position: absolute;
            left: 50px;
            top: 55px;
            color: #ffffff;
            font-size: 44px;
        }
        
        #line{
            background-color: #99123a;
            width:300px ;
            height: 2px;
            position: absolute;
            top: 140px;
            left: 135px;
            Display: none;
        }
        
        #dialogo{
            color: #ffd1d1;
            position: absolute;
            top: 140px;
            left: 135px;
            width: 400px;
            Display: none;
        }
        

        #arte{
            width: 500px;
            height: 300px;
            position: relative;
            left: 5%;
            top: 130px;
            color: #e7ecee;
        }
        #arte-info{
            width: 200px;
        }
        #copy{
            display: none;
        }
        .conte{
            left: 200px;
        }
        #sesion{
            scale: 1;
            left: 520px;
        }

}

/* pantalla peque単a */
@media
    (min-width: 1px) and
    (max-width: 668px) {

        #info{

            width: 300px;
            height: 300px;
            position: relative;
            left: 78%;
            bottom: 110px;
        }
        #info h3{
            Display: none;
        }
        #info h4{
            Display: none;
        }
        #tipo{
            width: 100px;
        }
        #grado{
            width: 100px;
        }
        #element{
            width: 100px;
        }
}

/* pantalla movil */
@media
    (min-width: 1px) and
    (max-width: 628px) {

        #info{

            width: 300px;
            height: 100px;
            position: relative;
            top: -180px;
            left: 10%;
            bottom: 110px;
        }
        #info h3{
            Display: none;
        }
        #info h4{
            Display: none;
        }
        #tipo{
            width: 100px;
            left: 145px;
            top: 0px;
        }
        #grado{
            width: 100px;
            top: 0px;
            left: 290px;
        }
        #element{
            width: 100px;
        }

        #slider{
            width: 420px;
            height: 350px;
            background-color: rgb(214, 57, 96);
            border-radius: 18px;
            position: relative;
            top: 100px;
            left: 5%;
            overflow:hidden;
            
        }

        .mySlides{
            position: absolute;
            left: 9%;
            z-index: 3;
        }
        
        #fondo{
            position: absolute;
            left: -30%;
            scale: 2;
            top: 300px;
            filter: opacity(15%);
            z-index: 0;
        }
        
        #dialogo{
            color: #ffd1d1;
            position: absolute;
            top: 140px;
            left: 135px;
            width: 400px;
            Display: none;
        }
        

        #arte{
            width: 500px;
            height: 300px;
            position: relative;
            left: 5%;
            top: 230px;
            color: #e7ecee;
        }
        #arte-info{
            width: 200px;
            left: 120px;
        }

        .conte{
            left: 110px;
        }
        #sesion{
            scale: 1;
            left: 400px;
        }

}
        
